* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transform-style: preserve-3d;
    backface-visibility: visible;
}

body {
    background-color: #cccccc;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#camera {
    position: relative;
    transform: perspective(1000px) translateZ(1000px) rotateX(90deg);
}
@keyframes moving-animation {
    0% {
        top: 0%
    }
    50% {
        top: -5%
    }
    100% {
        top: 0%
    }
}





/* - - - - - MAP - - - - - */
#camera * {
    position:absolute;
}

#floor {
    width: 1750px;
    height: 1750px;
    background-image: url(assets/map/floor.png);
    background-repeat: repeat;
    background-size: 250px;
    transform: translate(0px,-400px);
}
#roof {
    width: 1750px;
    height: 1750px;
    background-image: url(assets/map/roof.png);
    background-repeat: repeat;
    background-size: 2w50px;
    transform: translateZ(300px) translate(0px,-400px);
}
.walltexture1 {
    background-image: url(assets/map/wall.png);
    background-repeat: repeat;
    background-size: 450px;
}
.walltexture2 {
    background-image: url(assets/map/wall2.png);
    background-repeat: repeat;
    background-size: 300px;
}





/* - - - - SECURITY ROOM - - - - */
#securityroom {
    transform: translate(450px,450px);
}

#securityroom .wall1 {
    width: 450px;
    height: 300px;
    transform: translateY(-150px) translateZ(150px) rotateX(-90deg);
}
#securityroom .wall1 .upperwall {
    width: 450px;
    height: 25px;
}
#securityroom .wall1 .window {
    width: 450px;
    height: 200px;
    background-image: url(assets/map/window.png);
    background-repeat: repeat;
    background-size: 450px;
    transform: translateY(25px);
    opacity: 0.3;
}
#securityroom .wall1 .bottomwall {
    width: 450px;
    height: 75px;
    transform: translateY(225px)
}
#securityroom .wall2 {
    width: 750px;
    height: 300px;
    transform: translateX(-375px) translateY(225px) translateZ(150px) rotateX(-90deg) rotateY(90deg);
}
#securityroom .wall2 .leftwall {
    width: 195px;
    height: 300px;
    transform: translateX(-150px);
}
#securityroom .wall2 .door.closed {
    width: 200px;
    height: 300px;
    background-image: url(assets/map/door.png);
    background-repeat: no-repeat;
    transform: translateX(45px);
}
#securityroom .wall2 .door.open {
    width: 200px;
    height: 300px;
    background-image: url(assets/map/door.png);
    background-repeat: no-repeat;
    transform: translateX(45px) translateY(-240px);
}
#securityroom .wall2 .rightwall {
    width: 540px;
    height: 300px;
    transform: translateX(210px);
}
#securityroom .wall3 {
    width: 450px;
    height: 300px;
    transform: translateY(600px) translateZ(150px) rotateX(-90deg) rotateY(180deg);
}
#securityroom .wall4 {
    width: 750px;
    height: 300px;
    transform: translateX(75px) translateY(225px) translateZ(150px) rotateX(-90deg) rotateY(-90deg);
}
#securityroom .wall4 .leftwall {
    width: 190px;
    height: 300px;
}
#securityroom .wall4 .upperwall {
    width: 120px;
    height: 200px;
    transform: translateX(190px);
}
#securityroom .wall4 .rightwall {
    width: 440px;
    height: 300px;
    transform: translateX(310px);
}





/* - - - - - - - - */
#corridors .wall1 {
    width: 1350px;
    height: 300px;
    transform: translateY(-150px) translateZ(150px) rotateX(-90deg);
}
#corridors .wall2 {
    width: 1350px;
    height: 300px;
    transform: translateX(-675px) translateY(525px) translateZ(150px) rotateX(-90deg) rotateY(90deg);
}
#corridors .wall3 {
    width: 1350px;
    height: 300px;
    transform: translateY(1200px) translateZ(150px) rotateX(-90deg) rotateY(180deg);
}
#corridors .wall4 {
    width: 1350px;
    height: 300px;
    transform: translateX(1075px) translateY(125px) translateZ(150px) rotateX(-90deg) rotateY(-90deg);
}
#corridors .wall5 {
    width: 1750px;
    height: 300px;
    transform: translateY(-550px) translateZ(150px) rotateX(-90deg);
}